name: Update Base Docker Image
on:
  workflow_dispatch:
  push:
    tags-ignore:
      - "*"
    branches:
      - main
    paths:
      - 'Dockerfile.base'
      - 'internal/verifier/js/**'
      - 'internal/verifier/php/**'

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  build:
    name: Build PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ["8.4", "8.3", "8.2", "8.1"]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver: docker-container

      - name: Login into Github Docker Registry
        run: echo "${{ secrets.TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: Dockerfile.base
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/onlishop/onlishop-cli-base:${{ matrix.php-version }}
          build-args: |
            PHP_VERSION=${{ matrix.php-version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
          DOCKER_BUILD_SUMMARY: false
