name: Tests

on:
  push:
    branches: ["main"]
    tags-ignore:
      - "*"
  pull_request:
    branches: ["main"]

permissions:
  contents: read

env:
  GOTOOLCHAIN: local

jobs:
  build:
    name: ${{ matrix.os }}
    env:
      ONLISHOP_CLI_DISABLE_WASM_CACHE: 1
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-14

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # ratchet:actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # ratchet:actions/setup-go@v5
        with:
          go-version: '1.24'
          check-latest: true
          cache: true

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
